/* global styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: disc;
    display: flex;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* header navigate */
.nav {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    background-color: #ffffff;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    padding: 24px 0px;
    margin-right: 76px;
}

.header-logo .logo-accent {
    color: #2e2f42;
}

.header-logo .logo-accent:hover,
.header-logo .logo-accent:active {
    color: #404bbf;
}

.nav-list,
.address-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    display: flex;
}

.nav-link {
    color: #2e2f42;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
} 

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

/* header address */
.address {
    font-style: normal;
}

.address-item {
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.address-list:not(:last-child) {
    margin-right: 40px;
}

.address-link{
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* hero section */
.hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin: 0px auto 48px auto;
}

.hero-btn {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;        
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
    cursor: pointer;
}

/* benefits section */
.benefits {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.benefits-box {
    border: 1px solid #8e8f99;
    display: flex;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px ;
}

.benefits-subtitle {
    color: #2e2f42;    
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.benefits-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;         
}

/* team section */
.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    flex-direction: column;
}

.team-card {
    padding: 32px 0;
    justify-content: space-between;
}

.team-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}

.social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-box {
    position: relative;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.social-link {
    display: flex;
    width: 40px;
    height: 40px;    
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

/* portfolio section */
.portfolio {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc( (100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: translateY(0%);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-box-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item:hover .portfolio-box-text {
    transform: translateY(0%); }

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-description {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo,
.footer-logo-accent {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: inline-block;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-logo-accent:hover,
.footer-logo-accent:active {
    color: #404bbf;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-box {
    fill: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}